html, body {
	position: relative;
	width: 100%;
	height: 100%;align-self: w;
	font-size: 10pt;
	accent-color: #ff966d;
	/* accent-color: dimgrey; */
}

body {
	color: #c0c0c0;
	background-color: #2D2A32;
	margin: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

hr {
	border-top: 1px solid #3a3a3a;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	margin: 0 0 0.5em 0;
	padding: 0.25em !important;
	box-sizing: border-box;
	border-radius: 0.25em;
	color: inherit;
	background-color: #3a3a3a44 !important;
	border: 1px solid dimgrey;
}

select:disabled, button:disabled {
	background-color: #262626 !important;
}

select:hover:disabled, button:hover:disabled {
	cursor: not-allowed
}

button:hover {
	background-color: #3a3a3a11 !important;
}

::backdrop {
	background-color: #4c4f51 !important;
	backdrop-filter: blur(3px);
	opacity: 0.4;
}

::-webkit-scrollbar-track
{
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0);

}

::-webkit-scrollbar
{
  width: 4px;
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: gray;
}